svg {
  filter: drop-shadow(0px 3px 3px rgba(0,0,0,.25));
}

.selection {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.selection li {
  list-style: none;
  margin: 5px 10px 5px 0px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition-duration: .5s;
}

.selection li:hover {
  background-color: #d3d3d3;
}

.dropdown {
  padding: 0;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
}

.dropdown li {
  list-style: none;
  margin: 5px 10px 5px 0px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition-duration: .5s;
  text-align: center;
}

.fCircles:hover {
  cursor: pointer;
}

.rCircles:hover {
  cursor: pointer;
}

.yCircles:hover {
  cursor: pointer;
}

#f_select:hover {
  background-color: #34495e; /* wet ASphalt from flatuicolors */
  color: white; 
}

#r_select:hover {
  background-color: #e74c3c; /* alizarin red from flatuicolors */
  color: white;
}

#y_select:hover {
  background-color: #f1c40f; /* sunflower yellow from flatuicolors */
  color: black;
}

.f_selected {
  background-color: #34495e; /* wet ASphalt from flatuicolors */
  color: white;
}

.r_selected {
  background-color: #e74c3c; /* alizarin red from flatuicolors */
  color: white;
}

.y_selected {
  background-color: #f1c40f; /* sunflower yellow from flatuicolors */
  color: black;
}
